@model RoleManagmentVM

<div class="card shadow border-0 mb-5">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-4">
        <div class="col-12 text-center">
        
                <h2 class="py-2 text-white">Manage Roles</h2>
           

        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-3">
            <div class="col-md-12">
                <form id="registerForm" class="row" method="post">
                    
                    <input asp-for="@Model.ApplicationUser.Id" hidden />
                    @* <h3 class="border-bottom pb-3 mb-4 text-secondary text-center">Create a new account.</h3> *@

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                 
                    <div class="form-floating mb-3 col-md-12">
                        <input asp-for="@Model.ApplicationUser.Name" readonly class="form-control" autocomplete="new-password" aria-required="true" placeholder="Name" />
                        <label asp-for="@Model.ApplicationUser.Name" class="ms-2 text-muted">Name</label>
                    </div>

                    


                    <div class="form-floating py-2 col-12">
                        <select asp-for="@Model.ApplicationUser.role" asp-items="@Model.RoleList" class="form-select">
                            <option disabled selected>--Select Role--</option>
                        </select>
                    </div>

                    @{
                        var companyVisible = "display:none;";
                    }
                    @if(Model.ApplicationUser.role == SD.Role_Company)
                    {
                        companyVisible = "display:block;";
                    }

                    <div class="form-floating py-2 col-12">
                        <select asp-for="@Model.ApplicationUser.CompanyId" style="@companyVisible" asp-items="@Model.CompnayList" class="form-select">
                            <option disabled selected>--Select Company--</option>
                        </select>
                    </div>

                    <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button class="btn btn-primary form-check form-control">Update Role</button>
                    </div>
                        <div class="col-6 col-md-3">
                        <a asp-action="Index"  class="btn btn-outline-primary border">Back to list</a>
                    </div>
                    </div>
                </form>
            </div>
     
                    </section>
                </div>
            
        </div>
    </div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {

            $("#ApplicationUser_role").change(function () {
                var selection = $("#ApplicationUser_role Option:Selected").text();
                if (selection == "Company") {
                    $("#ApplicationUser_CompanyId").show();
                } else {
                    $("#ApplicationUser_CompanyId").hide();

                }
                ;
            })
        })
    </script>
}
